<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment3</title>
    <link rel="stylesheet" href="/css/order.css">
</head>
<body>
    <header>
        <nav>
            <ul class="shop-nav-list">
                <li class="shop-nav-item"><a href="/">Shop</a></li>
                <li class="shop-nav-item"><a href="/admin/order">Order</a></li>
            </ul>
        </nav>
    </header>
    <main class="main-content">
        <h1>ORDER YOUR FOOD</h1>
        <form action="/admin/order" method="POST">
            
            <input type="text" name="food" id="food">
            <button type="submit">ORDER!</button>
        </form>
    </main>
</body>
</html>